.title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color:aquamarine;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
.navbar {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}